#chart-section {
    background: transparent;
    padding: 20px 5px;
    margin: 20px;
    box-shadow: 0px 0px 10px 5px rgb(128, 128, 128);
    text-align: center;
}

#chart-section > .buttons {
    padding: 20px;
}

#chart-section > .buttons > .btn {
    width: 20%;
    margin: 0px 5px;
    opacity: 0.8;
}

.amchartclass {
    width: 100%;
    height: 70vh;
    padding: 0px 10px;
}

#india-heatmap {
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}

@media only screen and (max-width: 600px) {
    #chart-section > .buttons {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    #chart-section > .buttons > .btn {
        width: 23%;
        margin: 0;
        font-size: 12px;
        padding: 6px 0px;
    }
}